@model Final_Project.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

}

<h1 class="lead p-5 fs-2">  </h1>
<div class="container justify-content-center shadow p-4 w-50">
    <h2 class="text-dark d-flex justify-content-center text-center lead p-4 " style=" background-color:#F5F5F5; border-radius:7px">Add New Role </h2>

<div class=" container ">
    <div >
        <form asp-action="New">
            <div class="form-group">
                <label asp-for="RoleName" class="control-label ">Role Name</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
@*    <a asp-action="Login" asp-controller="Account">Login</a>
*@</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
