@model Final_Project.Models.Categorie

@{
    ViewData["Title"] = "Create";
        Layout = "_Layout_Admin";
}
<h1 class="lead p-5 fs-2">  </h1>
<div class="container justify-content-center shadow p-4 w-50">
    <h2 class="text-dark d-flex justify-content-center text-center lead p-4 " style=" background-color:#F5F5F5; border-radius:7px">Add New Category </h2>

    <div class=" container ">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>

        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
